<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="~/Content/git.png">
    <title>Kezdőlap</title>
    <link rel="stylesheet" type="text/css" href="~/Content/styles1.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
</head>
<body>
    <div id="navbar">
        <button class="button" onclick="vissza()">Kijelentkezés</button>
        <ul class="menuitems">

            <li>@Html.ActionLink("HTML", "html", "Home")</li>
            <li>@Html.ActionLink("CSS", "css", "Home")</li>
            <li>@Html.ActionLink("Javascript", "js", "Home")</li>
            <li>@Html.ActionLink("Iszgy", "iszgy", "Home")</li>
            <li>@Html.ActionLink("Programozás", "pr", "Home")</li>
            <li>@Html.ActionLink("C#", "c", "Home")</li>
            <li>@Html.ActionLink("Linux", "li", "Home")</li>
            <li>@Html.ActionLink("Hálózat", "hl", "Home")</li>
            
        </ul>
      
        <script type="text/javascript">
      document.write ('<span id="date-time">', new Date().toLocaleString(), '<\/span>')
if (document.getElementById) onload = function () {
  setInterval ("document.getElementById ('date-time').firstChild.data = new Date().toLocaleString()", 50)
}
        </script>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <div class="caption">
                <span class="border">GIT - Gépészeti Informatika Tantár</span>
            </div>
            <p class="kep"><img src="~/Content/git.png"></p>
            <p class="kep1"><img src="~/Content/gepesz.png"></p>
            <p class="en">
                Magamról:<br>
                Az én nevem Litva Patrik. A Szakképzési Centrum Gépészeti Szakgimnáziuma és Kollégiumában tanulok, informatika szakon. Leginkább a weblapfejlesztés és a szofterverfejlesztés érdekel.
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
